@model recipes_system.Models.ViewModel.DetailsRecipe

@{
    ViewBag.Title = "Details";
}


<a class="btn btn-primary" href="/recipe/List">Go back to list</a>
<h2>@Model.SelectedRecipe.Title</h2>
<div>Ingridents: @Model.SelectedRecipe.Ingridents</div>
<div>Categories: @Model.SelectedRecipe.Categories</div>

<div>
    <h1>Instruction</h1>
    @foreach (var data in Model.RecipeInstructions)
    {
        <div>@data.InstructionName</div>
        <div>@data.Description</div>
        <hr />
    }
</div>